@import url(/normalize.css/normalize.css);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  box-sizing: content-box;
}

html,
body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: normal;
  height: 100%;
}

#app {
  height: 100%;
}

